<div *ngIf="cart==true" class="alert alert-primary mt-3" role="alert">
  Your Product has been added to your cart :)
  </div>
<div *ngIf="fav==true" class="alert alert-danger mt-3" role="alert">
  Your Product has been added to favourite :)
  </div>
  <div class="container mt-5">
    <div class="row mt-5 border rounded p-3 shadow">
      <div class="col-md-6">
        <img src="{{product.image}}" class="img-fluid w-50"  alt="">
      </div>
      <div class="col-md-6  my-auto">
        <h3 class="text-white bg-dark rounded p-3"><strong>{{product.title}}</strong></h3>
        <p><b>Description: {{product.description}}</b></p>
        <h5 class="text-danger">Price: {{product.price | currency}}</h5>

        <a class="btn btn-danger" (click)="AddtoCart()">Add to Cart</a>
        <a class="btn btn-primary mx-2" (click)="Addtofav()">Add to favourite</a>
      </div>
    </div>
  </div>
