<div class="container">
  <div class="col-md-12 my-3 p-5 text-center bg-dark rounded">
    <h1 class="text-white"><strong>PRELOVED CO. WOMEN COLLECTION</strong></h1>
</div>
  <div class="row">
    <div class="col-md-12 my-5" *ngFor="let product of womenProducts" style="width: 18rem;" >
      <div class="card shadow" >
        <img src={{product.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text"><b> {{product.description}}</b></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-danger">Price: {{product.price | currency}} </li>
        </ul>
        <div class="card-body">
          <a class="btn btn-dark" routerLink="{{product.id}}">CHECK IT OUT</a>
        </div>
      </div>
    </div>
  </div>
</div>
