<div *ngIf="loginNotification==true" class="alert alert-success mt-3" role="alert">
  You are successfully logged in
  </div>
<div *ngIf="logoutNotification==true" class="alert alert-primary mt-3" role="alert">
  You are successfully logged out
  </div>
  <div *ngIf="invalidPass==true" class="alert alert-danger mt-3" role="alert">
    Wrong Email or Password
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/login_ban.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 my-auto p-3 rounded shadow-lg" style="background-color: rgb(253, 250, 250);">
      <h2><strong>WELCOME TO PRELOVED.CO</strong></h2>
      <h5><strong>LOGIN TO YOUR ACCOUNT</strong></h5>
      <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.value)" >
        <label for="email" class="form-label">EMAIL:</label>
        <div class="input-group">
          <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
          <input type="email" ngModel name="email" class="form-control">
        </div>
        <label for="password" class="form-label">PASSWORD:</label>
        <div class="input-group">
          <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
          <input type="password" name="password" ngModel class="form-control">
        </div>
        <p><a style="cursor: pointer;"><b>Forgot Password?</b></a></p>
        <p>DOESNT HAVE AN ACCOUNT?<a style="cursor: pointer;" routerLink="/usersignup"><b> CREATE ACCOUNT</b></a></p>
        <button class="btn btn-dark">Login</button>
      </form>

    </div>
  </div>
</div>
