<div class="container">
  <h1 class="bg-dark rounded p-2 mt-2 text-white text-center">Our Services</h1>
  <div class="row">
    <div class="col-md-6 my-auto">
      <h5 class="fw-bold ">Men</h5>
      <p class="border p-3 rounded shadow">
        Discover the epitome of style and craftsmanship with our men's high-quality branded shirts and jackets. From tailored dress shirts to versatile jackets, each piece is designed with meticulous attention to detail and crafted from premium materials. Elevate your wardrobe with our collection and experience unparalleled sophistication and quality. Shop now for the perfect blend of fashion and durability.      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/men.jpg" class="img-fluid rounded mt-2" style="height: 500px;" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-auto" >
      <h5 class="fw-bold ">Women</h5>
      <p class="border p-3 rounded shadow">
        Experience elegance and style with our collection of women's high-quality branded shirts and jackets. Each garment is crafted with meticulous attention to detail, using premium materials to ensure exceptional quality and comfort. From timeless classics to modern designs, our collection offers versatility and sophistication for every fashion-forward woman. Shop now and elevate your wardrobe with our exquisite selection of women's branded shirts and jackets.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/women.jpg" class="img-fluid rounded mt-2" style="height: 500px;" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-auto">
      <h5 class="fw-bold ">Kids</h5>
      <p class="border p-3 rounded shadow">
        Experience elegance and style with our collection of women's high-quality branded shirts and jackets. Each garment is crafted with meticulous attention to detail, using premium materials to ensure exceptional quality and comfort. From timeless classics to modern designs, our collection offers versatility and sophistication for every fashion-forward woman. Shop now and elevate your wardrobe with our exquisite selection of women's branded shirts and jackets.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/kid.jpg" class="img-fluid rounded mt-2" style="height: 500px;" alt="">
    </div>
  </div>
</div>















