<div class="alert alert-success my-2" role="alert" *ngIf="showNotification==true">
  Your Product has been Created
</div>
<div class="container">
  <h1 class="text-center text-white bg-dark p-3 my-3 rounded">
    Create a product
  </h1>
  <div class="row">
    <div class="col-md-8 mx-auto shadow">
      <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
        <label class="form-label">
          <b>Product title</b>
          <small style="color: red; font-size: 10px; margin-left: 5px">(Required*)</small></label
        >
        <input type="number" hidden name="seller_id" ngModel [value]="userId" >
        <input
          ngModel
          name="title"
          type="text"
          placeholder="Enter Product Title"
          class="form-control"
          required
        />
        <div class="invalid-feedback">This isnt a valid response</div>
        <label class="form-label"
          ><b> Product Description</b
          ><small style="color: red; font-size: 10px; margin-left: 5px"
            >(Required*)</small
          ></label
        >
        <textarea
          ngModel
          placeholder="Enter Product Description"
          name="description"
          id=""
          cols="30"
          class="form-control"
          rows="10"
          required
        ></textarea>
        <div class="invalid-feedback">This isnt a valid response</div>
        <label class="form-label">
          <b> Product price</b>
          <small style="color: red; font-size: 10px; margin-left: 5px">(Required*)</small>
        </label>
        <input
          required
          ngModel
          name="price"
          type="number"
          class="form-control"
        />
        <div class="invalid-feedback">This isnt a valid response</div>
        <label class="form-label"><b>category</b>
          <small style="color: red; font-size: 10px; margin-left: 5px">(Required*)</small></label>
          <select class="form-select" [(ngModel)]="selectedCategory" name="category" aria-label="Default select example">
            <option *ngFor="let category of category" [value]="category">{{category}}</option>
          </select>

        <div class="invalid-feedback">This isnt a valid response</div>
        <label>
          <b> Enter Product Image Url</b>
          <small style="color: red; font-size: 10px; margin-left: 5px">(Required*)</small>
        </label>
        <input required ngModel name="imaegpath" type="file" accept="image/*" (change)="onFileSelected($event)" class="form-control" />
        <div class="invalid-feedback">This isnt a valid response</div>
        <Button class="btn btn-dark my-2" >Create Product</Button>
      </form>
    </div>
  </div>
</div>
