<div class="container">
  <h1 class="text-center text-white bg-dark p-3 my-3 rounded" >Create a product</h1>
  <div class="row">
    <div class="col-md-8 mx-auto shadow">
      <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
        <label class="form-label "><b>Product title</b></label>
        <input
          ngModel
          name="title"
          type="text"
          placeholder="Enter Product Title"
          class="form-control"
        />
        <label class="form-label "><b> Product Description</b></label>
        <textarea
          ngModel
          placeholder="Enter Product Description"
          name="Description"
          id=""
          cols="30"
          class="form-control"
          rows="10"
        ></textarea>
        <label class="form-label "><b> Product price</b></label>
        <input ngModel name="price" type="number" class="form-control" />
        <label class="form-label "><b>category</b></label>
        <input ngModel name="id" type="text" class="form-control" />
        <label><b> Enter Product Image Url</b></label>
        <input ngModel name="image" type="text" class="form-control" />
        <Button class="btn btn-dark my-2">Create Product</Button>
      </form>
    </div>

  </div>
</div>
