<div class="container">
  <div class="row">
    <div *ngIf="loadingData==true" class="spinner-border text-primary mx-auto my-5"  role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="showData==true">
    <h1 class="bg-primary p-3 text-center rounded text-white my-3">Your Orders</h1>
    <div class="card mx-2 my-2 shadow" style="width: 20rem;" *ngFor="let order of orders">
      <img src="{{order.imagepath}}" class="card-img-top" alt="Product image">
      <div class="card-body">
        <h5 class="card-title">{{order.title}}</h5>
        <p class="card-title">E-mail: <b>{{order.buyer_email_address}}</b></p>
        <p class="card-text"><b>{{order.category}}</b></p>
        <p class="card-text">Size:- <b>{{order.size}}</b></p>
        <p class="card-text">Quantity: <b>{{order.quantity}}</b>x</p>
        <p class="card-text">{{order.address}}</p>
        <p class="card-text">Contact Number:{{order.buyer_contact_number}}</p>
        <a href="#" class="btn btn-danger"><fa-icon [icon]="faTruckPickup"></fa-icon>Dispatched</a>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="orders.length < 1">
  <div class="row">
    <div class="col-md-6 my-auto">
      <h1>No active orders at the moment</h1>
    </div>
    <div class="col-md-6">
      <img src="assets/images/cart-img.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
