<div class="alert alert-danger my-2" role="alert" *ngIf="showNotification==true">
  Your Product has been posted!
</div>
<div class="container" *ngIf="availableData==false">
  <div class="row  text-center">
    <div class="col-md-6 my-auto">
      <h1>No product Found! Want to create a new product?</h1>
        <a routerLink="../manage" class="btn btn-dark">Create</a>
    </div>
    <div class="col-md-6">
      <img src="assets/images/dash-img.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
<div class="container mt-5" *ngFor="let product of showProduct">
  <div class="row mt-5 border rounded p-3 shadow">
    <div class="col-md-6">
      <img src="{{product.image}}" class="img-fluid"  alt="">
    </div>
    <div class="col-md-6  my-auto">
      <h3 class="text-white bg-dark rounded p-3"><strong>{{product.title}}</strong></h3>
      <p><b>Description: {{product.description}}</b></p>
      <h5 class="text-danger">Price: {{product.price | currency}}</h5>
      <button class="btn btn-success" (click)="postProduct()">Post Product</button>
    </div>
  </div>
</div>


