<div class="container-fluid" id="bg-1">
  <div class="container-fluid">
    <div class="row mt-5 bg-dark p-5">
      <div class="col-md-12 p-5 text-center rounded">
          <h1 class="text-white"><strong>WELCOME TO PRELOVED CO.</strong></h1>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-interval="300" data-bs-ride="carousel">
      <div class="carousel-inner rounded">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 my-auto">
                <h1><strong> EXPLORE FROM OUR WIDE RANGE OF KIDS COLLECTION</strong></h1>
                <a class="btn btn-dark" routerLink="/product/women">EXPLORE NOW</a>
              </div>
              <div class="col-md-4 text-center order-first order-md-last">
                <img src="assets/images/kid.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-6 my-auto">
                <h1><strong> EXPLORE FROM OUR WIDE RANGE OF WOMEN COLLECTION</strong></h1>
                <a class="btn btn-dark" routerLink="/product/women">EXPLORE NOW</a>
              </div>
              <div class="col-md-4 text-center">
                <img src="assets/images/women.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-6 my-auto  ">
                <h1><strong> EXPLORE FROM OUR WIDE RANGE OF MENS COLLECTION</strong></h1>
                <a class="btn btn-dark" routerLink="/product/men">EXPLORE NOW</a>
              </div>
              <div class="col-md-4 text-center order-first order-md-last">
                <img src="assets/images/men.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container rounded mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/home_ban.jpg" class="img-fluid rounded" alt="">
      </div>
      <div class="col-md-6 my-auto">
        <h1><strong>REASONABLE PRICES AND UN-MATCHED QUALITY.</strong></h1>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h1><strong>BRANDED PRODUCTS OF FINEST QUALITY</strong></h1>
      </div>
      <div class="col-md-6 order-first order-md-last">
        <img src="assets/images/home_ban2.jpg" class="img-fluid rounded" alt="">
      </div>
    </div>
  </div>
  </div>

</div>

