<div class="container">
  <div class="alert alert-primary mt-2" *ngIf="showNoti==true" role="alert">
    <h5 class="text-center my-1">Your Account Has Been Created! Log In To Your Account To Continue</h5>
  </div>
  <div class="alert alert-danger mt-2" *ngIf="errorNoti==true" role="alert">
    <h5 class="text-center my-1">{{errorNotifMessage}}</h5>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/signup_ban.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 my-auto shadow-lg rounded p-3" style="background-color: rgb(253, 250, 250);">
      <h2><strong>NEW TO THE STORE?</strong></h2>
      <h5><strong>CREATE YOUR ACCOUNT</strong></h5>
      <form #registerationForm="ngForm" (ngSubmit)="submit( registerationForm.value)">
        <label for="email" class="form-label">EMAIL:</label>
        <div class="input-group">
          <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
          <input required ngModel placeholder="@xyz.com" name="email" type="email" class="form-control">
        </div>

        <label for="email" class="form-label">Store Name:</label>
        <div class="input-group">
          <span class="input-group-text"><fa-icon [icon]="faStore"></fa-icon></span>
          <input required ngModel placeholder="Store Name" name="storeName"  class="form-control">
        </div>
        <label for="name" class="form-label">Username:</label>
        <div class="input-group">
          <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
          <input ngModel placeholder="username" name="name" type="text" class="form-control">
        </div>
        <label for="password" class="form-label">PASSWORD:</label>
        <div class="input-group">
          <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
          <input ngModel required name="password" type="password" class="form-control">
        </div>
        <p>ALREADY HAVE AN ACCOUNT?<a routerLink="../../accounts/login" style="cursor: pointer;"><b> LOGIN</b></a></p>
        <button class="btn btn-dark" type="submit" [disabled]="!registerationForm.valid"><a>Signup</a></button>
      </form>

    </div>
  </div>
</div>
